# Welcome to Intro to Python! 
## Taught by Prof Loren
## Let's write a little python!

In [1]:
#first program: print hello world
print('hello world') #just printing words

hello world

In [2]:
#let's print numbers
print(8)

8

we have just printed words/characters and numbers! look at you program! woo!
there 2 data types are known as:
- string: 'hello world'
- integer: 8
these are 2 commonly used data types which you will get very familiar with

In [3]:
#rules of python
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

import this explains the rules of python and is similar to how you would import python libraries which you can think of as a bunch of code that exists out in internet to help you. we will go over this later in more detail.

### Cool, so I have things "strings" and "numbers"... what do I do with them?
- store things in variables!

In [4]:
#Variables are reserved memory locations to store values. Denoted by `=` (assign)
number =  1
words = 'i am words'
_yes_no = True
copy_words = words

variables cannot start with numbers or symbols(underscores are fine though!) and if you have multiple words 'space' them out with underscores. you can also assign variables to variables not just strings and numbers however remember to define the variable first!

In [5]:
print(number)

1

In [6]:
print(words)

i am words

In [7]:
print(_yes_no)

True

In [8]:
print(copy_words)

i am words

## You as the programmer have the power!

# Exercise 0:
Write a program that writes `Hello World` 5 times

### Comments
- pounds, hashtags, octothorps
- used to making notes or temporary removal/testing

In [9]:
#program: print hello world
print("hello world") #this isn't getting printed
#print('hello mate')

hello world

In [10]:
#program: print hello world
#print("hello world") #this isn't getting printed
print('hello mate')

hello mate

### Strings
Combinations of characters & symbols defined between quotes (single, double, or triple-- for multiple lines)

In [11]:
string = 'i am a string'
print(string)

i am a string

In [12]:
snobby_string = "No, I'm a string."
print(snobby_string)

No, I'm a string.

In [13]:
special_chars = "@#$%!''"
print(special_chars)

@#$%!''

In [14]:
x = """You 
need
to 
Chill."""
print(x)

You
need
to
Chill.

You can do "math" with strings... well add things together aka concatenation!

In [15]:
thing1 = "Let's be "
thing2 = "together."
print(thing1+thing2)

Let's be together.

In [16]:
print('hello', 'world') #printing words, concatinating strings

hello world

In [17]:
x = 'hello'
y = 'world'
print(x,y)

hello world

In [18]:
#mixing variables & non-variables
x = 'hello'
print(x, 'world')

hello world

### Ints & Float

Integer are whole numbers (i.e. 1,8,123456789)
Float/Floating point numbers are numbers with decimals (i.e. 3.14, 1.0, 12345.54321)

In [19]:
myint = 4
print(myint)

4

In [20]:
mydec = 4.0
print(mydec)

4.0

In [21]:
type(myint)

int

In [22]:
type(mydec)

float

In [23]:
myint == mydec

True

In [24]:
4/5

0.8

### Arithmetic Operators

In [25]:
a = 10
b = 20
c = 3

In [26]:
#Addition
print(10 + 20)

30

In [27]:
#Subtraction
print(20 - 10)

10

In [28]:
#Multiplication
print(20*3)

60

In [29]:
#Division
print(10/3)

3.3333333333333335

In [30]:
#Exponential
print(10**3)

1000

In [31]:
#Modulo/remainder
# 3 goes into 10 3 times with R1
print(10%3)

1

In [32]:
# hint** if it's divisible then it will return 0
print(10%2)

0

### Mashing strings, numbers and arithmetic in one line

In [33]:
#random math fact:
print('What is 5 times 5?', 5*5)

What is 5 times 5? 25

### Boolean

True/False values. Very powerful.

In [34]:
t = True
print(t)

True

In [35]:
f = False
print(f)

False

### Input

Getting user input as a string

In [36]:
user_name = input("Tell me your name: ")

Tell me your name: Charles

In [37]:
print(user_name)

Charles

In [38]:
type(user_name)

str

In [39]:
user_age = input("How young are you? ")

How young are you? 9001

In [40]:
print(user_age)

9001

In [41]:
type(user_age)

str

### Converting to different data types

In [42]:
#int to str
this_int = 4
convert_to_string = str(this_int)
print(convert_to_string)
type(convert_to_string)

4

str

In [43]:
#str to int
back_to_int = int(convert_to_string)
print(back_to_int)
type(back_to_int)

4

int

In [44]:
#remember that random math fact? can't add numbers + string but can add string + string
print('What is 5 times 5? '+ str(5*5)) #instead of the comma we are adding the string (concatinating)

What is 5 times 5? 25

# Exercise 1 Hello user!
Write a program that says:
### Hello *name*, I hope you are enjoying python so far! Happy New Year, we are in *year* !
where *name* is a user input for the user's name and *year* is a user input for what year the user inputs

In [45]:
#need user name and user input of year
user_name = input("Name, please. ")
the_year = input("What is the year? ")
print("Hello " +  user_name+ ", I hope you are enjoying python so far! Happy New Year, we are in "+ the_year +"!")

Name, please. Charles
What is the year? 2016
Hello Charles, I hope you are enjoying python so far! Happy New Year, we are in 2016!

### String Formatting
easier way to write strings
- use curly braces within quotes to represent variables
- end with .format()
- in the () include the variables

In [36]:
user_name = input('name please ')
user_age = input('your age? ')

print("Hello there {}! I see you are {} years old, good for you!".format(user_name,user_age))

name pleaseCharles
your age? 9001
Hello there Charles! I see you are 9001 years old

In [46]:
num = input('give me a number ')
denom = input('give me another number ')

try:
    answer = float(num)/float(denom)
    print("{}/{} = {}".format(num,denom, answer))
except:
    print("give me numbers!")

give me a number 25
give me another number 5
25/5 = 5.0

### Comparison Operators: T/F

In [47]:
#Equals
1 == 2

False

In [48]:
1 == 1

True

In [49]:
#not equals
1 != 2

True

In [50]:
1 != 1

False

In [51]:
#greater than
5 > 1

True

In [52]:
#less than
1 < 5

True

In [53]:
#greater than or equal to
5 >= 5

True

In [54]:
#less than or equal to 
5 <= 6

True

### Control Flow

In [55]:
#if
x = 5

if x == 5:
    print('Yes, x equals 5')

Yes, x equals 5

In [56]:
#if/else
y = 4
if y == 5:
    print("yes, y equals 5")
else:
    print("no, y does not equal 5")

no, y does not equal 5

In [57]:
#if/elif/else
z = 8
if z > 45:
    print("z > 45")
elif z > 25:
    print("z > 25")
else:
    print("no, z equals "+ str(z))
#string + string is okay but you can't do string + int

no, z equals 8

### Try & Except
We went to have backups in case our code blows up

In [58]:
user_year = input('what year were you born? format yyyy: ')
#we are skeptical that the user might try to troll us.... let's make this troll proof. 
#we want a number and won't settle for anything less!
try:
    user_age = 2016 - int(user_year)
    print('according to my calculations, you are '+ str(user_age))
except:
    print('you input a wrong value. you typed: '+ user_year)

what year were you born? format yyyy: 1991
according to my calculations, you are 25

# Quiz!!!! Comparing 2 values
### Write a program that has the user put in 2 values and spits out the relationship between the 2 values
### For example "is equal to", "is greater than", etc